h3.choice {
    color: white;
    padding-bottom: 20px;
    padding-top: 12px;
}
button.see-more {
    background-color: #CEF836;
    border: none;
    border-radius: 0;
    color: #020D18!important;
    display: block;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    float: left;
}
button.see-more:hover {
    background-color: #f87436;
    border: none;
    border-radius: 0;
    color: #020D18!important;
    display: block;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    float: left;
}

img.small-poster {
    width: 10%;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #233A50; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #000000; 
  }
.row.detail {
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 1.7;
    border-bottom: 1px solid #e8e8e8;
}