<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="w3ls_footer_grid">
				<div class="col-md-6 w3ls_footer_grid_left">
					<small>Trang web này không chịu trách nhiệm đối với bất kỳ nội dung nào được đăng tải trong trang web này.
						Mọi nội dung đều được sưu tầm và nhúng vào website tương tự như công cụ tìm kiếm Google.
						Disclaimer: This site does not store any files on its server. All contents are provided by non-affiliated third parties.</small>
				</div>
				<div class="col-md-6 w3ls_footer_grid_right">
					<a href="index.html">
						<h2>Vietsub<span>Cartoons</span></h2>
					</a>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="col-md-5 w3ls_footer_grid1_left">
				<p>&copy; 2020 Vietsub Cartoons. All rights reserved </p>
			</div>
			<div class="col-md-7 w3ls_footer_grid1_right">
				<ul>
					<li>
						<a href="/movies-list/">Movies</a>
					</li>
					{% for genres in genres_list %}
					<li><a href="{{ genres.get_absolute_url }}">{{ genres.name }}</a></li>
					{% endfor %}
					<li>
						<a href="https://facebook.com/vietsubcartoons/">Contact Us</a>
					</li>
				</ul>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<!-- //footer -->