{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="single-page-agile-main">
    <div class="container">
        <!-- /w3l-medile-movies-grids -->
        <div class="agileits-single-top">
            <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li>{{ object.title }}</li>
            </ol>
        </div>
        <div class="single-page-agile-info">
            <!-- /movie-browse-agile -->
            <div class="show-top-grids-w3lagile">
                <div class="col-sm-8 single-left">
                    <div class="song">
                        <div class="song-info">
                            <h3>{{ object.title }}</h3>
                        </div>
                    </div>
                    <div class="song-grid-right">
                        <div class="song-grid-right">
                            <div class="share">
                                <h5>Xem phim</h5>
    
                            </div>
                        </div>
                        <div class="clearfix"> </div>
    
                        <div class="all-season">
                            <div class="single-left" id="myDIV">
                                {% if object.url_fb %}
                                <div itemscope itemtype="https://schema.org/VideoObject">
                                    <meta itemprop="uploadDate"
                                        content="Sun Aug 16 2020 21:09:08 GMT+0700 (Giờ Đông Dương)" />
                                    <meta itemprop="name" content="Futurama Mùa 2 Tập 1" />
                                    <div style="position:relative; overflow:hidden; padding-bottom:56.25%"> <iframe
                                            src="https://cdn.jwplayer.com/players/{{ object.url_fb }}-4Kc0OEDF.html"
                                            frameborder="0" scrolling="auto" title="{{ object.title }}"
                                            style="position:absolute;" width="100%" height="100%" allowfullscreen></iframe>
                                    </div>
                                </div>
                                {% else %}
                                <iframe id="iFrame1" src="https://playhydrax.com/?v={{ object.url_gd }}" frameborder="0"
                                    scrolling="0" title="{{ object.title }}" allowfullscreen></iframe>
                                {% endif %}
                            </div>
                        </div>
                        <div class="share">
                            <h5>Thông tin về phim</h5>
                            <div class="single-right-grids">
                                <div class="col-md-4 single-right-grid-left ">
                                    <a href="{{ object.get_absolute_url }}"><img class="poster"
                                            src="{{ object.poster_url }}" alt="" /></a>
                                </div>
                                <div class="col-md-8 single-right-grid-right">
                                    <a href="{{ object.get_absolute_url }}" class="title"> {{ object.title }}</a>
                                    <p class="author"><strong>Năm: </strong><a href="#"
                                            class="author">{{ object.year }}</a></p>
                                    <p class="author"><strong>Trạng thái: </strong>{{ object.get_status_display }}</p>
                                    <p class="author"><strong>Thể loại: </strong>{% for cate in object.category.all %}
                                        <a href="{{ cate.get_absolute_url }}" >{{ cate }}, </a>
                                        {% endfor %}</p>
                                    <p class="views"><strong>Nội dung: </strong>{{ object.description }}</p>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-4 single-right">
                    <h3>Up Next</h3>
                    <div class="single-grid-right">
                        {% for movie in movie_list %}
                        <div class="single-right-grids">
                            <div class="col-md-4 single-right-grid-left">
                                <a href="{{ movie.get_absolute_url }}"><img src="{{ movie.poster_url }}" alt="" /></a>
                            </div>
                            <div class="col-md-8 single-right-grid-right">
                                <a href="{{ movie.get_absolute_url }}" class="title"> {{ movie.title }}</a>
                                <p class="author"><a href="#" class="author">{{ movie.year }}</a></p>
                                <p class="views">{{ movie.views }} views</p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>



                <div class="clearfix"> </div>
            </div>
            <!-- //movie-browse-agile -->
            <!--body wrapper start-->
            <div class="w3_agile_banner_bottom_grid">
                <div id="owl-demo" class="owl-carousel owl-theme">
                    {% for serie in serie_list %}
                    <div class="item">
                        <div class="w3l-movie-gride-agile w3l-movie-gride-agile1">
                            <a href="{{ serie.get_absolute_url }}" class="hvr-shutter-out-horizontal"><img
                                    src="{{ serie.poster_url }}" title="{{ serie.title }}" class="img-responsive"
                                    alt=" " />
                                <div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
                            </a>
                            <div class="mid-1 agileits_w3layouts_mid_1_home">
                                <div class="w3l-movie-text">
                                    <h6><a href="{{ serie.get_absolute_url }}">{{ serie.title }}</a></h6>
                                </div>
                                <div class="mid-2 agile_mid_2_home">
                                    <p>{{ serie.year }}</p>
                                    <div class="block-stars">
                                        <ul class="w3l-ratings">
                                            <li><a href="#">{{ serie.get_category_display }}</a></li>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="ribben">
                                <p>NEW</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <!--body wrapper end-->


            </div>
            <!-- //w3l-latest-movies-grids -->
        </div>
    </div>
    <!-- //w3l-medile-movies-grids -->

    {% endblock content %}